In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('pandas-workout-data/data/nyc_taxi_2019-01.csv',
                usecols=['passenger_count', 'trip_distance',
                        'total_amount', 'payment_type'])

In [4]:
df.head()

   passenger_count  trip_distance  payment_type  total_amount
0                1            1.5             1          9.95
1                1            2.6             1         16.30
2                3            0.0             1          5.80
3                5            0.0             2          7.55
4                5            0.0             2         55.55

In [24]:
# how many taxi rides had more than 8 passengers
df.loc[df['passenger_count'] > 8, 'passenger_count'].count()

9

looks like 9 rides had more than 8

In [10]:
# how many taxi rides had 0 passengers
df.loc[df['passenger_count'] == 0].shape

(117381, 4)

In [27]:
# the way he did it
df.loc[df['passenger_count'] == 0, 'passenger_count'].count()

117381

wow thats a lot of rides with nol passengers.  must be some kind of error.

In [12]:
# another way to se how many with each number of passengers
df['passenger_count'].value_counts()

1    5456121
2    1114106
5     323842
3     314721
6     200811
4     140753
0     117381
8         29
7         19
9          9
Name: passenger_count, dtype: int64

In [14]:
# how many payed for in cash and cost more than $1000
df.loc[(df['payment_type'] == 2) & (df['total_amount'] > 1000)].shape

(5, 4)

In [28]:
df.loc[(df['payment_type'] == 2) & (df['total_amount'] > 1000), 'passenger_count'].count()

5

five of those rare situations

In [30]:
# how many rides cost less than zero dollars
df.loc[df['total_amount'] < 0, 'total_amount'].count()

7131

somehow 7131 rides cost less than 0

In [22]:
# how many rides traveled a below-average distance but cost and above-average amount
df.loc[(df['trip_distance'] < df['trip_distance'].mean()) &
       (df['total_amount'] > df['total_amount'].mean())].shape

(411255, 4)

In [32]:
df.loc[(df['trip_distance'] < df['trip_distance'].mean()) &
       (df['total_amount'] > df['total_amount'].mean()), 'trip_distance'].count()

411255

411255 rides meet those criteria