In [1]:
import pandas as pd

In [2]:
df_2019 = pd.read_csv('pandas-workout-data/data/nyc_taxi_2019-07.csv',
                      usecols=['passenger_count', 'payment_type', 'total_amount'])

df_2020 = pd.read_csv('pandas-workout-data/data/nyc_taxi_2020-07.csv',
                      usecols=['passenger_count', 'payment_type', 'total_amount'])

In [3]:
df_2019['year'] = 2019
df_2020['year'] = 2020

In [4]:
df = pd.concat([df_2019, df_2020])

In [8]:
df.cor()

                 passenger_count  payment_type  total_amount      year
passenger_count         1.000000      0.016410      0.014943 -0.049558
payment_type            0.016410      1.000000     -0.138561  0.029277
total_amount            0.014943     -0.138561      1.000000 -0.019706
year                   -0.049558      0.029277     -0.019706  1.000000

passenger_count   -0.000253
payment_type      -0.000265
total_amount      -0.005084
year                    NaN
dtype: float64

In [20]:
# difference in descripitive statistics for total amoun betwen the two years

df.loc[df['year'] == 2020, 'total_amount'].describe().round(2) - df.loc[df['year'] == 2019, 'total_amount'].describe().round(2)

count   -5510007.00
mean          -0.98
std           -0.75
min           53.20
25%           -0.50
50%           -0.60
75%           -0.75
max        -4672.45
Name: total_amount, dtype: float64

In [32]:
(df.loc[df['year'] == 2019, 'passenger_count'].value_counts(normalize=True).get(0, 0) * 100).round(2)

1.86

In [31]:
(df.loc[df['year'] == 2020, 'passenger_count'].value_counts(normalize=True).get(0, 0) * 100).round(2)

2.64

the percentage of zero passeger rides did increase but was still pretty small overall