In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pandas-workout-data/data/nyc_taxi_2019-01.csv',
                usecols=['passenger_count', 'trip_distance',
                        'total_amount', 'payment_type'])

### Using query this time

In [6]:
# how many taxi rides had more than 8 passengers
df.query('passenger_count > 8')['passenger_count'].count()

9

In [7]:
# how many taxi rides had 0 passengers
df.query('passenger_count > 0')['passenger_count'].count()

7550411

In [11]:
# how many taxi rides were paid for in cash and cost more than $1000
df.query('payment_type == 2 and total_amount > 1000')['payment_type'].count()

5

In [16]:
# how any rides cost less than 0
df.query('total_amount < 0')['total_amount'].count()

7131

In [15]:
# how many rides traveled a below average distance but cost an above average amount

df.query('trip_distance < trip_distance.mean() and total_amount > total_amount.mean()')['total_amount'].count()

411255

In [25]:
df.query('total_amount < 0 & payment_type == 4 | payment_type == 6')['total_amount'].count()

2666

In [31]:
df.loc[(df['total_amount'] < 0) 
       & ((df['payment_type'] == 4) | (df['payment_type'] == 6)), 'total_amount'].count()

2666

In [32]:
df['payment_type'].value_counts(normalize=True)

1    0.715464
2    0.278752
3    0.004328
4    0.001456
Name: payment_type, dtype: float64